---
import { skills } from "@data";

import Section from "@/components/Section.astro";
---

<Section title="Habilidades">
    <div>
        {
            skills.map(({ name }) => {
                return <section>{name}</section>;
            })
        }
    </div>
</Section>

<style>
    div {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    section {
        display: flex;
        align-items: center;
        background: #666;
        border-radius: 6px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #fff;
        gap: 7px;
        padding: 0.2rem 0.6rem;
    }
</style>
