---
import { basics } from "@data";
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Certification from "@/components/sections/Certification.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboarManager from "@/components/KeyboarManager.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
---

<Layout title=`Portafolio de ${basics.name}`>
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Certification />
		<Skills />
		<Projects />
	</main>
	<KeyboarManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
